<br>
<h1 align="center" style="color: pink"><b><u> <%= @building.name %>'s Information</u>:</b></h1>
<br>
<br>
<p><u>Country</u>: <%= @building.country %></p>
<p><u>Address</u>: <%= @building.address %></p>
<p><u>Number of floors</u>: <%= @building.number_of_floors %></p>
<p><u>Rent per office</u>:</p>